<!-- <button mat-raised-button color="warn">Click</button>  -->
<!-- <app-nav></app-nav> -->
<app-profile></app-profile>

 <!-- mat-drawer-content -->
 <!-- <app-signin></app-signin>
 <app-signup></app-signup> -->

<!-- 
  <div class="mat-display-4">This is display 4</div>
  <div class="mat-display-3">This is display 3</div>
  <div class="mat-display-2">This is display 2</div>
  <div class="mat-display-1">This is display 1</div>

  <div class="mat-headline">Heading</div>
  <div class="mat-title">title</div>
  <div class="mat-subheading-2">sub2</div>
  <div class="mat-subheading-1">sub1</div>

  <div class="mat-body-1">body text</div>
  <div class="mat-body-2">body text</div>
  <div class="mat-caption">caption text</div>
 -->